html{
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: #F8F9F9; /* Першочерговий колір */
    --secondary-color: #283747; /* Другорядний колір */
    --third-color: red
}

body{
    margin: 0px;
    padding: 0px;
    background-color: var(--primary-color);

}

button{
    border: none;
    outline: none;
    background: none;
    padding: 0px;
    margin: 0px;
}
p{
    font-family: "Nunito", sans-serif;
}


::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color); 
    border-radius: 4px; 
}

::-webkit-scrollbar-track {
    background-color: var(--primary-color); 

}


::-ms-scrollbar {
    width: 8px; 
}

::-ms-scrollbar-thumb {
    background-color: var(--secondary-color); 
    border-radius: 4px; 
}

::-ms-scrollbar-track {
    background-color: var(--primary-color);

}







header{
    width: 95%;
    min-width: 960px;
    height: 100px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin: 0px;
    margin-left: 5%;
    border-radius: 0 0 0 30px;
    display: flex;
    align-items: center;
}
.name-logo{
    padding-left: 10px;
    font-size: 48px;
    min-width: 300px;
}
#logo-img{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin-left: 50px;
}

#lang-select{
    position: absolute;
    right: 180px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: inline;
    min-width: 113px;
    max-width: 113px;
}
.lang-button{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 32px;
    border: none;
    outline: none;
}



footer{
    width: 95%;
    margin-left: 5%;
    height: 200px;
    background-color: var(--secondary-color);
    min-width: 960px;
    border-radius: 30px 0 0 0;
    margin-top: 100px;
    color: var(--primary-color);
    align-items: center;
    display: flex;
}
#logo-img-in-footer{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-left: 50px;
}
.div-in-footer-2{
    display: flex;
    flex-direction: column;

}
.socialnetwork{
    height: 50px;
    width: 50px;
}
.div-in-footer-1{
    padding: 16px;
    padding-left: 200px;
}
.div-in-footer-2{
    padding-top: 26px;
}
.p-in-footer{
    font-size: 24px;
}
#div-for-info{
    display: flex;
    position: absolute;
    right: 180px;
}







.filling-of-site{
    /*height: 2000px;*/
    margin: 70px auto;
    /*background-color: blueviolet;*/

    max-width: 1536px;
    position: relative;
}


@media only screen and (max-width: 1750px) {
    header {
        width: 100%;
        margin-left: 0%;
    }

    footer {
        width: 100%;
        margin-left: 0%;
    }
  }


@media only screen and (max-width: 966px) {
    #lang-select {
        left: 780px;
    }

}
@media only screen and (max-width: 1050px) {
    #div-for-info{
        left: 380px;
    }
    #lang-select {
        left: 780px;
    }
}




