.a-for-elem{
    background-color: var(--primary-color);
    color: var(--primary-color);
}

.wrapper-for-elem{
    width: 245px;
    height: 300px;
    border: 1px solid var(--secondary-color);
    border-radius: 30px;
    margin: 30px;
    position: relative;

    -webkit-box-shadow: 0px 0px 61px -36px rgba(0,0,0,0.96);
    -moz-box-shadow: 0px 0px 61px -36px rgba(0,0,0,0.96);
    box-shadow: 0px 0px 61px -36px rgba(0,0,0,0.96);
}
.photo-of-elem{
    max-width: 215px;
    min-width: 215px;
    max-height: 150px;
    min-height: 150px;
    border: 1px solid var(--secondary-color);
    border-right: 0px;
    position: absolute;
    top: 28px;
    left: 30px;
    border-radius: 30px 0 0 30px;
    text-align: left;
}
.img-of-elem{
    max-width: 214px;
    min-width: 214px;
    max-height: 150px;
    min-height: 150px;
    border-radius: 29px 0 0 29px;
    width: 100%;
    height: 100%;
    object-fit: cover; /* або contain */
}

.short-discr-of-elem{
    width: 215px;
    height: 150px;
    padding-left: 30px;
    position: absolute;
    top: 180px;
    font-size: 32px;
    line-height: 0.2;
}
.button-for-el{
    padding: 0px;
    margin: 0px;
    min-width: 302px;
    max-width: 302px;
}
.descr-for-el{
    text-align: left;
}



.page-switcher{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 30px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
}
#container-for-page-switchers{
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-for-arr{
    width: 60px;
    height: 60px;
    border: none;
    outline: none;
    background: none;
    padding: 0px;
    margin: 0px 20px;
}
.arr-button{
    width: 60px;
    height: 60px;
}
#right-button{
    transform: rotate(90deg);
}
#left-button{
    transform: rotate(270deg);  
}


.wrapper-for-frequently-asked-questions{
    margin: 40px auto;
    max-width: 1536px;
}
.frequently-asked-questions{
    margin: 30px;
    max-width: 1476px;
    min-width: 830px;
    background-color: var(--secondary-color);
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 61px -36px rgba(0,0,0,0.96);
    -moz-box-shadow: 0px 0px 61px -36px rgba(0,0,0,0.96);
    box-shadow: 0px 0px 61px -36px rgba(0,0,0,0.96);

}
.inscription-question{
    height: 60px;
    color: var(--primary-color);
    font-size: 32px;
    padding-left: 50px;
    line-height: 3;

}
.block-for-questions{
    /*margin-top: 100px;
    margin-bottom: 40px;*/
    
    height: 60px;
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    display: flex;
    align-items: center; /* Вертикальне центрування */
    position: relative;
}
.stub-for-question{
    height: 40px;
}
.question-n{
    font-size: 32px;
    padding-left: 50px;
    margin: auto 0px;
    max-width: 1400px;
}

.hidden-answer{
    display: none;
}
.question-button{
    height: 40px;
    width: 40px;
    margin-left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0px;
    position: absolute;
    right: 10px;
}
.arr-question-button{
    height: 40px;
    width: 40px;
    transform: rotate(90deg);
}
.hidden-answer{
    color: var(--primary-color);
    margin: 0px 50px;
    font-size: 32px;
}
#block-to-join{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-to-join{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 32px;
    border: none;
    outline: none;
}

.frequently-asked-questions{
    min-width: 830px;
}




.filling-of-site{
    min-width: 928px;             /*   */
}


@media only screen and (max-width: 1535px) {
        .filling-of-site {
            width: 1220px;
        }
        .wrapper-for-frequently-asked-questions{
            width: 1220px;
        }
    }
@media only screen and (max-width: 1219px) {
        .filling-of-site {
            width: 906px;
        }
        .wrapper-for-frequently-asked-questions{
            width: 906px;
        }
    }
