{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Document</title>
    <link rel="stylesheet" href="{% static 'shelter/css/headerplusfooter.css' %}">
    <link rel="stylesheet" href="{% static 'shelter/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'shelter/css/elem.css' %}">
    <!--admin-->
    <link rel="stylesheet" href="{% static 'shelter/css/admin.css' %}">
    <script src="{% static 'shelter/js/admin.js' %}"></script>
    <!--------->
</head>


<body>
    <header>

        <img id="logo-img" src="{% static 'shelter/img/round-logo.png' %}" alt="name-logo">
        <h1 class="name-logo">Loving Tails</h1>
        <div id="lang-select">
            <!--
            <button class="lang-button">EN</button>
            <button class="lang-button">|</button>
            -->
            <button class="lang-button">UA</button>
        </div>

    </header>


    <div id="div2" style="display: block;" class="filling-of-site" >
        <form method="post" action="{% url 'add_animal' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="wrapper-for-descr">
                <div class="photo-of-elem-for-an">
                    <div class="div1-in-photo-el">
                        <label class="add-photo-el" for="{{ form.image.id_for_label }}">
                            <img class="photo-el" id="imagePreview" src="#" alt="Image Preview" />
                        </label>
                        <input class="add-photo-el" type="file" id="{{ form.image.id_for_label }}" name="{{ form.image.name }}" onchange="previewImage(this)">
                    </div>
                    <div class="div2-in-photo-el">
                        <p class="div2-in-photo-el-p">ДОДАТИ ФОТО</p>
                    </div>
                </div>

                <div class="description-of-the-animal">

                    <input class="input-desc" type="text" id="{{ form.animal_name.id_for_label }}" name="{{ form.animal_name.name }}" placeholder="Кличка">
                    <input class="input-desc" type="text" id="{{ form.species.id_for_label }}" name="{{ form.species.name }}" placeholder="Вид">
                    <input class="input-desc" type="text" id="{{ form.breed.id_for_label }}" name="{{ form.breed.name }}" placeholder="Порода">
                    <input class="input-desc" type="text" id="{{ form.age.id_for_label }}" name="{{ form.age.name }}" placeholder="Вік">

                </div>

            </div>

            <div class="div-for-descr">
                <textarea id="resizableTextarea" oninput="resizeTextarea()" class="textarea-for-descr" id="multilineInput" name="{{ form.description.name }}" rows="4" cols="50" placeholder="Опис"></textarea>
            </div>
            <button class="admin-button admin-button-delete"><p class="p-admin">Додати</p></button>
        </form>
    </div>



    <footer>
        <div>
            <img id="logo-img-in-footer" src="{% static 'shelter/img/round-logo.png' %}" alt="name-logo">
        </div>
        <div id="div-for-info">
            <div class="div-in-footer-1">
                <p class="p-in-footer">Інформація про нас:</p>
                <p class="p-in-footer">lovingtails@gmail.com</p>
                <p class="p-in-footer">+380678913245</p>
            </div>
            <div class="div-in-footer-2">
                <a href="#">
                    <img class="socialnetwork" src="{% static 'shelter/img/instagram-svgrepo-com.svg' %}" alt="name-logo">
                </a>
                <a href="#">
                    <img class="socialnetwork" src="{% static 'shelter/img/facebook-svgrepo-com.svg' %}" alt="name-logo">
                </a>
                <a href="#">
                    <img class="socialnetwork" src="{% static 'shelter/img/telegram-svgrepo-com.svg' %}" alt="name-logo">
                </a>
            </div>
        </div>

    </footer>
</body>
</html>
