<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Document</title>
    <link rel="stylesheet" href="{% static 'shelter/css/headerplusfooter.css' %}">
    <link rel="stylesheet" href="{% static 'shelter/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'shelter/css/elem.css' %}">

    <!--admin-->
    <link rel="stylesheet" href="{% static 'shelter/css/css/admin.css' %}">
    <script src="{% static 'shelter/js/admin.js' %}"></script>
    <!--------->
</head>


<body>
    <header>
        
        <img id="logo-img" src="{% static 'shelter/img/round-logo.png' %}" alt="name-logo">
        <h1 class="name-logo">Loving Tails</h1>
        <div id="lang-select">
            <button class="lang-button">UA</button>
            <button class="lang-button">|</button>
            <button class="lang-button">EN</button>
        </div>
        
    </header>

    <div id="div1" class="filling-of-site">

        <button class="admin-button admin-button-delete"><p class="p-admin">DELETE</p></button>                              <!--кнопка видалення-->
        <button onclick="toggleDivs()" class="admin-button admin-button-edit"><p class="p-admin">EDIT</p></button>

        <div class="wrapper-for-descr">
            <div class="photo-of-elem-for-an">
                <img class="photo-el" src="{{ animal.image.url }}" alt="{{ animal.animal_name }} Image">
            </div>
            <div class="description-of-the-animal">
                <p class="p-short-descr">{{ animal.animal_name }}</p>
                <p class="p-short-descr">{{ animal.breed }}</p>
                <p class="p-short-descr">{{ animal.age }} роки</p>
                <p class="p-short-descr">phone</p>
                <p class="p-short-descr">email</p>
                <p class="p-short-descr">location</p>
            </div>
        </div>

        <div class="div-for-descr">
            <p class="p-for-descr">description</p>
        </div>

    </div>


    <div id="div2" class="filling-of-site" >
        <form action="/your-server-endpoint" method="post">
            <div class="wrapper-for-descr">
                <div class="photo-of-elem-for-an">
                    <div class="div1-in-photo-el">
                        <label class="add-photo-el" for="file"></label>
                        <input class="add-photo-el" type="file" name="file" id="file">
                    </div>
                    <div class="div3-in-photo-el">
                        <img class="photo-el" src="{{ animal.image.url }}" alt="{{ animal.animal_name }} Image">                            <!--я не знаю що потрібно написати щоб редагувати зоображення-->
                    </div>
                    <div class="div2-in-photo-el edit-photo">
                        <p class="div2-in-photo-el-p">ЗАМІНИТИ ФОТО</p>
                    </div>
                </div>

                <div class="description-of-the-animal">
                    <input class="input-desc" type="text" name="username" placeholder="name" value="{{ animal.animal_name }}">
                    <input class="input-desc" type="text" name="breed" placeholder="breed" value="{{ animal.breed }}">
                    <input class="input-desc" type="text" name="age" placeholder="age" value="{{ animal.age }}">
                    <input class="input-desc" type="text" name="phone" placeholder="phone" value="#">
                    <input class="input-desc" type="text" name="email" placeholder="email" value="#">
                    <input class="input-desc" type="text" name="location" placeholder="location" value="#">
                </div>

            </div>

            <div class="div-for-descr">
                <textarea id="resizableTextarea" oninput="resizeTextarea()" class="textarea-for-descr" id="multilineInput" rows="4" cols="50" placeholder="description" value="{{ animal.description }}"></textarea>
            </div>

            <button onclick="reloadPage()" class="admin-button admin-button-delete"><p class="p-admin">SAVE</p></button> <!--ця кнопка має перезапустити сторінку вже із новими значеннями-->
            <!--в мене кидає помилку але це напевно бо в мене намає БД. P.s.: onclick="reloadPage()" - перезапускає сторінку-->
        </form>
    </div>



    <footer>

    </footer>
</body>
</html>
