
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Притулок</title>
    <link rel="stylesheet" href="{% static 'shelter/css/headerplusfooter.css' %}">
    <link rel="stylesheet" href="{% static 'shelter/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'shelter/css/admin.css' %}">
    <script src="{% static 'shelter/js/main.js' %}"></script>
</head>

<body>
    <header>

        <img id="logo-img" src="{% static 'shelter/img/round-logo.png' %}" alt="name-logo">
        <h1 class="name-logo">Loving Tails</h1>
        <!--
        <div id="lang-select">
            <button class="lang-button">UA</button>
            <button class="lang-button">|</button>
            <button class="lang-button">EN</button>
        </div>
        -->
    </header>

    <div class="filling-of-site">
        <button class="add_for_admin"><img class="add-plus" src="{% static 'shelter/img/plus-svgrepo-com.svg' %}" alt="add"></button> <!--кнопка яка відкриває adminelem.html-->

        <div style=" display: flex;"> <!--рядок для 5 елeментів-->

            {% for animal in animals %}

                <a href="{% url 'animal_detail' animal.id %}">
                    <button class="button-for-el">
                        <div class="wrapper-for-elem">
                            <div class="photo-of-elem">
                                <img class="img-of-elem" src="{{ animal.image.url }}" alt="photo">
                            </div>
                            <div class="short-discr-of-elem">
                                <p class="descr-for-el">{{ animal.animal_name }}</p>
                                <p class="descr-for-el">{{animal.shelter.address}}</p>
                            </div>
                        </div>
                    </button>
                </a>
            {% endfor %}

            <!--end-->


        </div>



    </div>

    <footer>

    </footer>
</body>
</html>
