{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>application</title>
    <link rel="stylesheet" href="{% static 'shelter/css/headerplusfooter.css' %}">
    <link rel="stylesheet" href="{% static 'shelter/css/reg.css' %}">
    <link rel="stylesheet" href="{% static 'shelter/css/main.css' %}">
    <script src="{% static 'shelter/js/main.js' %}"></script>
</head>
<body>
    <div class="box-for-reg-or-exit">
        <form method="post" action="{% url 'leave_application' animal_id=animal.id %}">
            <p class="p-reg">Заповнення заявки</p>
            {% csrf_token %}
            <input class="input-for-reg" type="text" name="first_name" placeholder="Ім'я">
            <input class="input-for-reg" type="text" name="second_name" placeholder="Прізвище">
            <input class="input-for-reg" type="text" name="phone" placeholder="Номер телефону">
            <input class="input-for-reg" type="text" name="email" placeholder="Електрона пошта">
            <button class="button-for-reg" type="submit"><p>Залишити заявку</p></button>
        </form>
    </div>


</body>
</html>
