<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>application</title>
    <link rel="stylesheet" href="{% static 'shelter/css/headerplusfooter.css' %}">
    <link rel="stylesheet" href="{% static 'shelter/css/reg.css' %}">
</head>
<body>
    <div class="box-for-reg-or-exit">
        <form action="">
            <p class="p-reg">Подання заявки</p>
            <input class="input-for-reg" type="text" name="firstname" placeholder="Ім'я">
            <input class="input-for-reg" type="text" name="secondname" placeholder="Прізвище">
            <input class="input-for-reg" type="text" name="phone" placeholder="Номер телефону">
            <input class="input-for-reg" type="text" name="mail" placeholder="Пошта">
            <button class="button-for-reg"><p>Подати заявку</p></button>
        </form>
    </div>
</body>
</html>