<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/headerplusfooter.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/elem.css">
    <link rel="stylesheet" href="shelter/css/admin.css">
    <script src="js/main.js"></script>
</head>


<body>
    <header>
        
        <img id="logo-img" src="img/round-logo.png" alt="name-logo">
        <h1 class="name-logo">Loving Tails</h1>
        <div id="lang-select">
            <button class="lang-button">UA</button>
            <button class="lang-button">|</button>
            <button class="lang-button">EN</button>
        </div>
        
    </header>

    <div class="filling-of-site">

        <button class="admin-button admin-button-delete"><p class="p-admin">ПОДАТИ ЗАЯВКУ</p></button>

        <div class="wrapper-for-descr">
            <div class="photo-of-elem-for-an">
                <img class="photo-el" src="{{ animal.image.url }}" alt="{{ animal.animal_name }} Image">
            </div>
            <div class="description-of-the-animal">
                <p class="p-short-descr">{{ animal.animal_name }}</p>
                <p class="p-short-descr">{{ animal.species }}</p>
                <p class="p-short-descr">{{ animal.breed }}</p>
                <p class="p-short-descr">{{ animal.age }}</p>
                <p class="p-short-descr">location</p>
            </div>
        </div>
        <div class="div-for-descr">
            <p class="p-for-descr">{{ animal.description }}</p>
        </div>
    </div>

    <footer>   
        <div>
            <img id="logo-img-in-footer" src="{% static 'shelter/img/round-logo.png' %}" alt="name-logo">
        </div>
        <div id="div-for-info">
            <div class="div-in-footer-1">
                <p class="p-in-footer">Інформація про нас:</p>
                <p class="p-in-footer">xxxxxxxxx@gmail.com</p>
                <p class="p-in-footer">+380XXXXXXXXX</p>
            </div>
            <div class="div-in-footer-2">
                <a href="#">
                    <img class="socialnetwork" src="{% static 'shelter/img/instagram-svgrepo-com.svg' %}" alt="name-logo">
                </a>
                <a href="#">
                    <img class="socialnetwork" src="{% static 'shelter/img/facebook-svgrepo-com.svg' %}" alt="name-logo">
                </a>
                <a href="#">
                    <img class="socialnetwork" src="{% static 'shelter/img/telegram-svgrepo-com.svg' %}" alt="name-logo">
                </a>
            </div>
        </div>

    </footer>
</body>
</html>
