<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/headerplusfooter.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/elem.css">
    <script src="js/main.js"></script>
</head>


<body>
    <header>
        
        <img id="logo-img" src="img/round-logo.png" alt="name-logo">
        <h1 class="name-logo">Loving Tails</h1>
        <div id="lang-select">
            <button class="lang-button">UA</button>
            <button class="lang-button">|</button>
            <button class="lang-button">EN</button>
        </div>
        
    </header>

    <div class="filling-of-site">
        <div class="wrapper-for-descr">
            <div class="photo-of-elem-for-an">
                <img class="photo-el" src="" alt="photo of the animal">
            </div>
            <div class="description-of-the-animal">
                <p class="p-short-descr">name</p>
                <p class="p-short-descr">phone</p>
                <p class="p-short-descr">email</p>
                <p class="p-short-descr">location</p>
            </div>
        </div>
        <div class="div-for-descr">
            <p class="p-for-descr">description</p>
        </div>
    </div>

    <footer>

    </footer>
</body>
</html>
