<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>exit</title>
    <link rel="stylesheet" href="css/headerplusfooter.css">
    <link rel="stylesheet" href="css/reg.css">
</head>
<body>
    <div class="box-for-reg-or-exit">
        <p class="p-reg">Вхід</p>
        <input class="input-for-reg" type="text" name="username" placeholder="Пошта">
        <input class="input-for-reg" type="text" name="username" placeholder="Пароль">
        <button class="button-for-reg"><p>Увійти</p></button>
    </div>
</body>
</html>