{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loving Tails</title>
    <link rel="stylesheet" href="{% static 'shelter/css/headerplusfooter.css' %}">
    <link rel="stylesheet" href="{% static 'shelter/css/main.css' %}">
    <script src="{% static 'shelter/js/main.js' %}"></script>
</head>


<body>
    <header>

        <img id="logo-img" src="{% static 'shelter/img/round-logo.png' %}" alt="name-logo">
        <h1 class="name-logo">Loving Tails</h1>
        <div id="lang-select">
            <button class="lang-button">UA</button>
            <button class="lang-button">|</button>
            <button class="lang-button">EN</button>
        </div>

    </header>

    <div class="filling-of-site">
        <!--<button class="add_for_admin"><div >+</div></button>-->
        <!--початок-->


        {% for animal in context %}

            <a class="a-for-elem" href="{% url 'animal_detail' animal.id %}">
                <button class="button-for-el">
                    <div class="wrapper-for-elem">
                        <div class="photo-of-elem">
                            <img class="img-of-elem" src="{{ animal.image.url }}" alt="photo">
                        </div>
                        <div class="short-discr-of-elem">
                            <p class="descr-for-el">{{ animal.animal_name }}</p>
                            <p class="descr-for-el">{{animal.shelter.address}}</p>
                        </div>
                    </div>
                </button>
            </a>
        {% endfor %}

        <!--end-->




        <!-- <div id="container-for-page-switchers">
        <div id="container-for-page-switchers">
            <button class="button-for-arr"><img class="arr-button" id="left-button" src="{% static 'shelter/img/triangle-svgrepo-com.svg' %}" alt=""></button>
            <button class="page-switcher">#</button>
            <button class="page-switcher">#</button>
            <button class="page-switcher">#</button>
            <button class="page-switcher">#</button>
            <button class="page-switcher">#</button>
            <button class="button-for-arr"><img class="arr-button" id="right-button" src="{% static 'shelter/img/triangle-svgrepo-com.svg' %}" alt=""></button>
        </div> -->
        </div>

    </div>
    <div class="wrapper-for-frequently-asked-questions">
        <div class="frequently-asked-questions">
            <p class="inscription-question">Питання:</p>
            <div class="block-for-questions">
                <p class="question-n">Як допомоглити притулку фінансово?</p>
                <button onclick="toggleDiv(1)" id="button1" class="question-button"><img class="arr-question-button" id="right-button" src="{% static 'shelter/img/triangle-svgrepo-com.svg' %}" alt=""></button>
            </div>
            <div  id="toggleDiv1" class="hidden-answer">
                <p>До кожного з притулків прикріплені рахунки.</p>
            </div>


            <div class="block-for-questions">
                <p class="question-n">Як допомоглити притулку руками?</p>
                <button onclick="toggleDiv(2)" id="button2" class="question-button"><img class="arr-question-button" id="right-button" src="{% static 'shelter/img/triangle-svgrepo-com.svg' %}" alt=""></button>
            </div>
            <div  id="toggleDiv2" class="hidden-answer">
                <p>Ви можете зателефонувати до притулку та запроплнувати свою допомогу.</p>
            </div>


            <div class="block-for-questions">
                <p class="question-n">Маєте притулок та хочете приєднатись до нас?</p>
                <button onclick="toggleDiv(3)" id="button3" class="question-button"><img class="arr-question-button" id="right-button" src="{% static 'shelter/img/triangle-svgrepo-com.svg' %}" alt=""></button>
            </div>
            <div  id="toggleDiv3" class="hidden-answer">
                <p></p>
                {% if user.is_authenticated %}
                <p id="block-to-join">
                    <a href="{% url 'dashboard' user.id %}">
                        <button class="button-to-join" >Особистий кабінет</button>
                    </a>

                    <button class="button-to-join">|</button>

                    <a href="{% url 'register' %}">
                        <button class="button-to-join" >Вийти</button>
                    </a>
                </p>
                {% else %}
                <p id="block-to-join">
                    <a href="{% url 'user_login' %}">
                        <button class="button-to-join" >Увійти</button>
                    </a>

                    <button class="button-to-join">|</button>

                    <a href="{% url 'register' %}">
                        <button class="button-to-join" >Реєстрація</button>
                    </a>
                </p>
                {% endif %}


            </div>

            <div class="stub-for-question"></div>
        </div>
    </div>

    <footer>
        <div>
            <img id="logo-img-in-footer" src="{% static 'shelter/img/round-logo.png' %}" alt="name-logo">
        </div>
        <div id="div-for-info">
            <div class="div-in-footer-1">
                <p class="p-in-footer">Інформація про нас:</p>
                <p class="p-in-footer">xxxxxxxxx@gmail.com</p>
                <p class="p-in-footer">+380XXXXXXXXX</p>
            </div>
            <div class="div-in-footer-2">
                <a href="#">
                    <img class="socialnetwork" src="{% static 'shelter/img/instagram-svgrepo-com.svg' %}" alt="name-logo">
                </a>
                <a href="#">
                    <img class="socialnetwork" src="{% static 'shelter/img/facebook-svgrepo-com.svg' %}" alt="name-logo">
                </a>
                <a href="#">
                    <img class="socialnetwork" src="{% static 'shelter/img/telegram-svgrepo-com.svg' %}" alt="name-logo">
                </a>
            </div>
        </div>

    </footer>
</body>
</html>
