{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reg</title>
    <link rel="stylesheet" href="{% static 'shelter/css/headerplusfooter.css' %}">
    <link rel="stylesheet" href="{% static 'shelter/css/reg.css' %}">
</head>
<body>
    <div class="box-for-reg-or-exit">
        <form method="post" action="{% url 'register' %}">
            <p class="p-reg">Реєстрація</p>

            {% csrf_token %}

            <input class="input-for-reg" type="text" name="username" placeholder="Ім'я">
            <input class="input-for-reg" type="text" name="username" placeholder="Прізвище">
            <input class="input-for-reg" type="text" name="username" placeholder="Номер телефону притулку">
            <input class="input-for-reg" type="text" name="username" placeholder="Пошта">
            <input class="input-for-reg" type="text" name="username" placeholder="Адреса">
            <input class="input-for-reg" type="text" name="password1" placeholder="Пароль">
            <input class="input-for-reg" type="text" name="password2" placeholder="Повторіть пароль">
            <button class="button-for-reg"><p>Зареєструватись</p></button>
        </form>
    </div>
</body>
</html>