<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reg</title>
    <link rel="stylesheet" href="css/headerplusfooter.css">
    <link rel="stylesheet" href="css/reg.css">
</head>
<body>
    <div class="box-for-reg-or-exit">
        <form action="">
            <p class="p-reg">Реєстрація</p>
            <input class="input-for-reg" type="text" name="username" placeholder="Ім'я">
            <input class="input-for-reg" type="text" name="username" placeholder="Прізвище">
            <input class="input-for-reg" type="text" name="username" placeholder="Номер телефону притулку">
            <input class="input-for-reg" type="text" name="username" placeholder="Пошта">
            <input class="input-for-reg" type="text" name="username" placeholder="Адреса">
            <input class="input-for-reg" type="text" name="username" placeholder="Пароль">
            <button class="button-for-reg"><p>Зареєструватись</p></button>
        </form>
    </div>
</body>
</html>